@import "Util/styleVariables";

@font-face {
  font-family: minecraft-evenings;
  src: url(Assets/minecraft-evenings-font/MinecraftEvenings-RBao.ttf);
}

@font-face {
  font-family: MC-font;
  src: url(Assets/MC-font/MinecraftRegular-Bmg3.otf);
}

@font-face {
  font-family: MC-font-bold;
  src: url(Assets/MC-font/MinecraftBold-nMK1.otf);
}

@font-face {
  font-family: MC-font-italic;
  src: url(Assets/MC-font/MinecraftItalic-R8Mo.otf);
}

html {
  height: 100%;
  width: 100%;
  background-color: #b0cbff;
}

body {
  height: 100%;
  width: 100%;
}

button {
  height: 2.5em;
  width: 8em;
  margin-bottom: 2em;
  border: 2px outset #828282;
  background-color: #828282;
  font-family: MC-font;
  font-size: 15px;
  color: white;
}

button:hover {
  border: 2px inset #828282;
}

#root {
  height: 100%;
  width: 100%;
}

.App {
  padding-top: 1em;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 100%;
  width: 100%;
  background-color: lightblue;
  background-image: url(Assets/background-clouds.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.game-block {
  height: inherit;
  width: inherit;
}

.pre-game-block {
  align-items: center;
  flex-direction: column;
  display: flex;
  height: inherit;
  width: inherit;
}

.pre-game-block__heading {
  opacity: 70%;
  font-family: MC-font-bold;
  color: whitesmoke;
  text-align: center;
}

.pre-game-block__buttons {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 3em;
  width: 20rem;
}

.in-game-block {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: flex;
}

.in-game-block__heading {
  justify-content: space-between;
  display: flex;
  width: 70%;
}

.in-game-block__heading > * {
  width: 5.5em;
  justify-content: space-between;
  align-items: center;
  display: flex;
  font-family: MC-font;
  font-size: 20px;
  color: $mc-brown;
}

.in-game-block__heading > * > * {
  display: flex;
  font-size: 20px;
  color: $mc-brown;
}

.in-game-block__main {
  display: contents;
  height: 100%;
  width: 100%;
}

.records-block {
  align-items: center;
  flex-direction: column;
  display: flex;
  width: 100%;
}

.records-block__sorter {
  flex-direction: column;
  align-items: center;
  display: flex;
  width: 30%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: minecraft-evenings;
  font-size: 20px;
}

.records-block__sorter__image{
  height: 1em;
  width: 2em;
}

.records-block__sorter__sort-list {
  border: $difficulty-border;
  margin: 0;
  height: fit-content;
  padding: 0;
  list-style-type: none;
  animation: grow 1s ease;
}

.records-block__sorter__sort-list > * {
  border: 1px solid black;
  background-image: url(Assets/oak-plank-block.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  font-family: MC-font;
  animation: fade-in 2.5s ease;
} 

.records-block__leaderboard{
  width: 100%;
  text-align: center;
}

@keyframes grow {
  0% {
    height: 0;
  }
  100% {
    height: 7.9em;
  }
}


@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
