@import "../../Util/styleVariables";

.grid-block {
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  display: grid;
  border: $ridge-border;
  margin-bottom: 2em;
}

.grid-block:hover {
  cursor: url("../../Assets/iron-shovel.png"),
    url("../../Assets/iron-shovel.cur"), auto;
}

.grid-block__covered {
  z-index: 1;
  position: absolute;
  height: 6em;
  width: 6em;
  padding-top: 3px;
  border: 1px solid #79563a;
  background-image: url(../../Assets/grass-top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: greenyellow;
}

.grid-block__covered:hover{
    filter: brightness(130%);
}

.grid-block__uncovered {
  z-index: -1;
  position: absolute;
}

.grid-block__item {
  height: 6em;
  width: 6em;
  padding-top: 3px;
  background-image: url(../../Assets/stone-top.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.grid-block__item__image {
  height: 5em;
  width: 5em;
  animation: fade-in 3s linear;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
