@import "../../Util/_styleVariables.scss";

.game-results-block{
    margin-top: 3em;
    text-align: center;
}

.game-results-block__info{
    margin-bottom: 3em;
    font-family: MC-font-bold;
    font-size: 3em;
    color: $mc-brown;
}

.game-results-block__buttons{
    justify-content: space-evenly;
    display: flex;
}