// colors //
$mc-brown: #794826;

// borders //
$ridge-border: 5px ridge gray;

// properties for difficulties //
$difficulty-height: 95%;
$difficulty-width: 15em;
$selected-difficulty-border: 5px ridge gold;