@use "../../Util/styleVariables" as *;
@import "../../Util/styleVariables";

#title{
    font-size: 100px;
    font-family: $headerFont;
    color: gray;
    text-shadow: -1px 1px 0 black, 1px 1px 0 black, 1px -1px 0 black,
      -1px -1px 0 black;
}